<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>2.0.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{266.0,339.0}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>banana.png</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>banana1.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{30.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,55.0},{30.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana2.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{30.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,2.0},{30.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana3.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{27.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{27.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{27.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,214.0},{27.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana4.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{26.0,50.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{26.0,50.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{26.0,50.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{59.0,232.0},{26.0,50.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana5.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{22.0,50.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{22.0,50.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{22.0,50.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,285.0},{22.0,50.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana6.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{22.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{22.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{22.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87.0,232.0},{22.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana7.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{17.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{17.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{17.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111.0,284.0},{17.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana8.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{18.0,50.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{18.0,50.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{18.0,50.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131.0,232.0},{18.0,50.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana9.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{17.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{17.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{17.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151.0,232.0},{17.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana10.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{18.0,50.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{18.0,50.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{18.0,50.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111.0,232.0},{18.0,50.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana11.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{22.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{22.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{22.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{31.0,284.0},{22.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana12.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{22.0,50.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{22.0,50.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{22.0,50.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55.0,284.0},{22.0,50.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana13.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{26.0,50.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{26.0,50.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{26.0,50.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{31.0,232.0},{26.0,50.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana14.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{27.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{27.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{27.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,232.0},{27.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana15.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{30.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,108.0},{30.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>banana16.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{30.0,51.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{30.0,51.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,161.0},{30.0,51.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>made-with-zwoptex</key>
		<dict>
			<key>spriteSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{228.0,228.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,2.0},{228.0,228.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
